<div class="wrap">
  <div class="field">
    <mat-card *ngFor="let card of unanswered">
      <mat-card-title>Question card{{ card.id }}</mat-card-title>
      <mat-card-subtitle>Date: {{ card.date | date }}</mat-card-subtitle>
      <app-card [card]="card" (onChanged)="onChanged($event)"></app-card>
      <mat-card-actions align="end">
        <button
          mat-button
          type="submit"
          form="unanswered"
          (click)="submit(card)"
          [disabled]="disabled(card.id)"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="field">
    <mat-card *ngFor="let card of answered.reverse()">
      <mat-card-title>Question card{{ card.id }}</mat-card-title>
      <mat-card-subtitle>
        Date: {{ card.date | date }}, Answer date:
        {{ card.answerDate | date: "medium" }}
      </mat-card-subtitle>
      <app-card [card]="card"></app-card>
      <mat-card-actions align="end">
        <button mat-button (click)="undo(card)">Undo</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
