<br />
<div class="selector">
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="sel"
    [(ngModel)]="element"
  >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let el of elementsList"
      [value]="el"
      (change)="onChange($event)"
      [checked]="el != questionType ? true : false"
    >
      {{ el }}
    </mat-radio-button>
  </mat-radio-group>
  <button [disabled]="hideAdd" class="add" mat-raised-button (click)="add()">
    Add
  </button>
</div>

<mat-card>
  <mat-card-title>Question card</mat-card-title>
  <mat-card-subtitle>there will be date</mat-card-subtitle>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Input your question</mat-label>
      <input class="text" matInput formControlName="question" />
    </mat-form-field>
    <div class="single" formArrayName="singles">
      <div *ngFor="let single of singles.controls; let i = index">
        <div [formGroupName]="i">
          <mat-radio-group
            class="example-radio-group"
            name="radio {{ card.id }}"
            aria-label="Select an option"
            formControlName="radio"
          >
            <mat-radio-button name="radio {{ card.id }}" [value]="true">
              <mat-form-field appearance="fill">
                <mat-label>Input your question</mat-label>
                <input class="text" matInput formControlName="text" />
              </mat-form-field>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="multiple" formArrayName="multiples">
      <ul>
        <li *ngFor="let multiple of multiples.controls; let j = index">
          <div [formGroupName]="j">
            <mat-checkbox formControlName="inp">
              <mat-form-field appearance="fill">
                <mat-label>Input your question</mat-label>
                <input class="text" matInput formControlName="text" />
              </mat-form-field>
            </mat-checkbox>
          </div>
        </li>
      </ul>
    </div>

    <div class="open" formArrayName="open">
      <div *ngFor="let op of open.controls; let ind = index">
        <mat-form-field appearance="fill">
          <mat-label>input your answer</mat-label>
          <input
            class="text"
            matInput
            [formControlName]="ind"
            placeholder="input your answer"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <mat-card-actions align="end">
    <button mat-button (click)="edit()">Submit</button>
    <button mat-button (click)="undo()">Undo</button>
  </mat-card-actions>
</mat-card>
