<div class="wrapper">
  <app-nav></app-nav>
  <br>
  <div class="selector">
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class ="sel"
    [(ngModel)]="element">
    <mat-radio-button 
      class="example-radio-button" 
      *ngFor="let el of elementsList" 
      [value]="el" 
      [disabled]="el != element  && element && disableRadio ? true: false"
    >
      {{el}}
    </mat-radio-button>
  </mat-radio-group>
  <button class="add" mat-raised-button (click)="add()">Add</button>
  </div>

  <mat-card>
      <mat-card-title>Question card</mat-card-title>
      <mat-card-subtitle>there will be date</mat-card-subtitle>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Input your question</mat-label>
          <input class="text" matInput [(ngModel)]="question" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div class = 'single'>
          <mat-radio-group class="example-radio-group"  aria-label="Select an option">
            <mat-radio-button *ngFor="let variant of svariants" value="1" disabled="true">
              <mat-form-field appearance="fill">
                <mat-label >add answer</mat-label>
                <input class="text" matInput [(ngModel)]="variant.value" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="multiple">
          <ul>
            <li *ngFor="let variant of mvariants">
              <mat-checkbox disabled="true">
              <mat-form-field appearance="fill">
                <mat-label >add answer</mat-label>
                <input class="text" matInput [(ngModel)]="variant.value" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-checkbox>
          </li>
        </ul>  
        </div>
        <div class="open">
          <mat-form-field *ngIf="openid" appearance="fill">
            <mat-label >add answer</mat-label>
            <input class="text" matInput>
        </mat-form-field>
        </div>
      </form>
      <mat-card-actions align="end">
        <button mat-button (click)="create()">Create</button>
        <button mat-button (click)="clear()">Clear</button>
      </mat-card-actions>
    </mat-card>
</div>